.vscode/launch.json
.vscode/tasks.json
obj/InsertionSort.csproj.nuget.dgspec.json
obj/InsertionSort.csproj.nuget.g.props
obj/InsertionSort.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
obj/Debug/net5.0/InsertionSort.AssemblyInfo.cs
obj/Debug/net5.0/InsertionSort.AssemblyInfoInputs.cache
obj/Debug/net5.0/InsertionSort.assets.cache
obj/Debug/net5.0/InsertionSort.csprojAssemblyReference.cache
obj/Debug/net5.0/InsertionSort.GeneratedMSBuildEditorConfig.editorconfig
bin/Debug/net5.0/InsertionSort.deps.json
bin/Debug/net5.0/InsertionSort.dll
bin/Debug/net5.0/InsertionSort.pdb
bin/Debug/net5.0/InsertionSort.runtimeconfig.dev.json
bin/Debug/net5.0/InsertionSort.runtimeconfig.json
bin/Debug/net5.0/ref/InsertionSort.dll
obj/Debug/net5.0/InsertionSort.csproj.CoreCompileInputs.cache
obj/Debug/net5.0/InsertionSort.csproj.FileListAbsolute.txt
obj/Debug/net5.0/InsertionSort.dll
obj/Debug/net5.0/InsertionSort.genruntimeconfig.cache
obj/Debug/net5.0/InsertionSort.pdb
obj/Debug/net5.0/ref/InsertionSort.dll
